* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

#section_text_2 {
    display: flex;
    justify-content: center;
    background-color: #f8f4f4;
    padding: 30px 0;
}

#section_text_2 .alpha {
    display: flex;
    align-items: center;
}

#section_text_2 .container {
    width: 960px;
    display: flex;
    justify-content: space-between;
}

#section_text_2 .omega a:link {
    text-decoration: none;
    font-weight: bold;
    background-color: #f77825;
    padding: 13px 28px;
    font-size: 12px;
    display: inline-block;
    color: white;
    border-radius: 5px;
}

#section_header_1 {
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

#section_header_1 .container {
    width: 960px;
    padding: 0 15px;
}

#section_header_1 nav .containers {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    color: #7f7f7f;
}

a.pi:link {
    color: #7f7f7f;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    transition: ease-in-out 0.2s;
    font-size: 20px;
}

a.pi:link:hover {
    color: #f77825;
}

.containers ul.navbar-left {
    display: flex;
    gap: 40px;
    list-style: none;
}

.containers ul.navbar-left li a{
    color: #7f7f7f;
}

.containers ul.navbar-left a:link {
    text-decoration: none;
    color: #7f7f7f;
    font-weight: bold;
}

.containers ul.navbar-left a:link:hover {
    color: #f77825;
}

ul.bottom-icons {
    gap: 20px;
    list-style: none;
    display: flex;
    align-items: center;
}

.containers #navbar-collapse-02 {
    display: flex;
    align-items: center;
}

#section_slider {
    background-color: #f8f4f4;
    display: flex;
    justify-content: center;
    padding: 60px 0;
}

#section_slider #myCarousel {
    width: 960px;
    overflow-x: hidden;
    position: relative;
}

#section_slider .carousel-inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
}

#myCarousel .carousel-inner .item {
    width: 960px;
    position: relative;
}

#myCarousel .carousel-inner .item::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    box-shadow: inset 0 -70px 60px 5px rgba(0, 0, 0, 0.9)
}

#myCarousel .carousel-inner .item img {
    width: 100%;
    display: block;
    position: relative;
}

#myCarousel .carousel-indicators {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    color: #2b2a2a;
    display: flex;
    gap: 20px;
    cursor: pointer;
    font-size: 25px;
}

#myCarousel .carousel-indicators .active {
    color: white;
}

#myCarousel .carousel-indicators li:hover {
    color: white;
}

#myCarousel .carousel-inner .carousel-caption {
    bottom: 30px;
    left: 40px;
    position: absolute;
    color: white;
    z-index: 1;
}

#myCarousel a:link {
    position: absolute;
    top: 40%;
    text-decoration: none;
}

#myCarousel a.right:link {
    right: 10px;
}

#myCarousel a.left:link {
    left: 10px;
}

#myCarousel .carousel-control:hover::before {
    color: white;
}

#section_gym_4 {
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 70px 0;
}

#section_gym_4 .top_padding {
    display: flex;
    justify-content: space-between;
    width: 960px;
    gap: 70px;
}

#section_gym_4 .one-third {
    text-align: center;
}

.one-third .img_gym_st img {
    border-radius: 50%;
}


.one-third .gym_st {
    font-size: 20px;
    font-weight: bold;
}

.one-third .gym_text {
    font-size: 15px;
    color: #b6b6b6;
    margin-top: 15px;
}

.one-third .text_gym_style {
    margin: 20px 0;
}

.one-third .link_3_btn a:link {
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #f77825;
    border-radius: 5px;
    color: white;
}

#section_intro_title {
    background-color: #f8f4f4;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 70px;
}

#section_intro_title .container {
    display: flex;
    width: 960px;
    justify-content: space-between;
    text-align: center;
}

#section_intro_title .one-third .light_gray {
    color: #7f7f7f;
}

#section_intro_title .one-third .blue_text {
    color: #2dc0e8;
}

#section_intro_title .one-third .orange {
    color: #f77825;
}

#section_intro_title .one-third .big_title {
    font-size: 40px;
    font-weight: bold;
}

#section_intro_title .one-third {
    padding: 30px 60px;
    background-color: white;
    border: #dddddd 3px solid;
    border-radius: 5px;
}

#section_intro_title .one-third .flat_pricing_list {
    list-style: none;
    margin-top: 40px;
    margin-bottom: 20px;
    display: flex;
    color: #7f7f7f;
    flex-direction: column;
    gap: 20px;
}

#section_intro_title .one-third .btn_normal:link {
    display: inline-block;
    text-decoration: none;
    background-color: #7f7f7f;
    padding: 15px 20px;
    font-weight: bold;
    color: white;
    border-radius: 2px;
}

#section_intro_title .one-third .btn_normal:link.blue_bg {
    background-color: #2dc0e8;
}

#section_intro_title .one-third .btn_normal:link.orange_bg {
    background-color: #f77825;
}

#hidden_pix_15 {
    display: none;
}

#section_party_3 {
    display: flex;
    justify-content: center;
    background-color: #191919;
    padding-top: 50px;
    padding-bottom: 90px;
}

#section_party_3 .container {
    box-sizing: content-box;
    width: 400px;
    text-align: center;
    background-color: #151515;
    padding: 30px 40px;
    border: 1px solid #272727;
}

#section_party_3 .container .text_input .headtext_style {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 22px;
}

#section_party_3 .container .text_input .subtext_style {
    color: #7f7f7f;
    width: 300px;
    margin: 0 auto;
}

#section_party_3 .container .text_input .segment {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

#section_party_3 .container .text_input .segment::after {
    content: "";
    display: block;
    width: 60px;
    height: 5px;
    background-color: #1c8ff5;
}

#section_party_3 #contact_form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

#section_party_3 #contact_form input {
    border: none;
    padding: 15px 0;
    font-size: 16px;
    border-radius: 3px;
    display: block;
}

#section_party_3 #contact_form input::placeholder {
    padding-left: 10px;
}

#section_party_3 #contact_form #submit_btn_15 {
    padding: 15px 0;
    border-radius: 3px;
    font-weight: bold;
    color: white;
    border: 0;
    cursor: pointer;
    background: linear-gradient(rgb(58, 159, 249), rgb(24, 93, 218)) no-repeat;
    transition: ease-out 0.2s;
}

#section_party_3 #contact_form #submit_btn_15:hover {
    background: linear-gradient(rgb(18, 77, 207), rgb(44, 137, 237)) no-repeat;
}

#section_party_4 {
    display: flex;
    justify-content: center;
    background-color: #151515;
    padding: 20px 0;
}

#section_party_4 .container .sixteen.columns {
    display: flex;
    width: 960px;
    justify-content: space-between;
    color: #7f7f7f;
}

.container .sixteen.columns .socbuttons {
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
}

.pixfort_st {
    font-weight: bold;
    color: #3ca4ff;
}